<%= form_with(model: nothingness, local: true) do |form| %>
  <% if nothingness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nothingness.errors.count, "error") %> prohibited this nothingness from being saved:</h2>

      <ul>
      <% nothingness.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :nothingness_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :nothingness_model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :nothingness_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
