<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @nothingness.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @nothingness.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @nothingness.year %>
</p>

<%= link_to 'Edit', edit_nothingness_path(@nothingness) %> |
<%= link_to 'Back', nothingnesses_path %>
